

.ui-datatable table {
    font-size: 12px;
}

.ui-panelgrid td {
    border-width: 0px;
    max-width: 350px;
}

.ui-panelgrid {
    border-collapse: collapse;
    margin: 0 auto;
}

.ui-widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BED6F8;
    color: #000000;
    text-align: left;
}

.ui-datatable tbody td {
    border-color: inherit;
    max-width: 200px;
    overflow: hidden;
}

.ui-selectonemenu .ui-selectonemenu-label {
    border: medium none;
    display: block;
    float: left;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: 10px;
}




